html {
    background-color: black;
}
#select{
    color: antiquewhite;
    text-transform: uppercase; 
    font-size: 200%;
    margin: 0;
    display: inline;
}
#search {
    color: antiquewhite;
    text-transform: uppercase; 
    font-size: 200%;
    margin: 0;   
}
#theatreSelection {
    display: flex;
    flex-shrink: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}
#theatre {
    height: 40px;
    text-align: center;
    align-items: center;
    font-size: 110%;
    margin-left: 20px;
}
#headerText{
    color: antiquewhite;
    font-size: 200%;
}
#line {
    color: yellow;
    box-shadow: 0 0 .2rem #fff,
    0 0 .1rem #fff,
    0 0 0.9rem yellow,
    0 0 0.9rem yellow,
    0 0 0.9rem  yellow,
    inset 0 0 1.0rem yellow;    
}

#frame {
    display: flex;
    color: antiquewhite;
    margin-top: 30px;
    margin-bottom: 30px;
    border-style: dotted;
    border-color: grey;
    align-items: center;
}
#frameTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    border: 1px;
    border-style: solid;
    border-color: yellow;
    font-size: 120%;
    text-transform: uppercase;
    box-shadow: 0 0 .2rem #fff,
            0 0 .1rem #fff,
            0 0 0.1rem yellow,
            0 0 0.1rem yellow,
            0 0 0.9rem  yellow,
            inset 0 0 1.0rem yellow; 
}
#time {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
#auditorium {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
#img {
    margin-left: 100px;
    margin-top: 2px;
}
#img3 {
    margin-left: 20px;
}
#movie {
    color: antiquewhite;
    font-size: 150%;
    width: 200px;
    margin-left: 30px;
    align-items: center;
}
#info {
    margin-left: 30px;
    font-size: 200%;
    padding: 10px;
    transition: transform .1s;
    text-transform: uppercase;
    background-color: yellow;
    box-shadow: 0 0 .2rem #fff,
            0 0 .1rem #fff,
            0 0 0.1rem yellow,
            0 0 0.1rem yellow,
            0 0 0.9rem  yellow,
            inset 0 0 1.0rem yellow; 
}
#info:hover {
    transform: scale(1.2);
}
a {
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#inputf {
    height: 24px;
    text-align: center;
    align-items: center;
    width: 150px;
    font-size: 90%;
    margin-left: 20px; 
}
#sButton {
    height: 40px;
    margin: auto;
    position: relative;
    bottom: 5px;
    cursor: pointer;
    background-color: antiquewhite;
    font-weight: 500;
    font-size: large;
    box-shadow: 0 0 .2rem #fff,
    0 0 .1rem #fff,
    0 0 0.1rem yellow,
    0 0 0.1rem yellow,
    0 0 0.9rem  yellow,
    inset 0 0 1.0rem yellow; ;
}
#valitse {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
}
#haku {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
}
#search {
    margin-left: 20px;
}
#sButton:hover{
    transform: scale(1.1);
}
@media (max-width: 1010px) {
    #frame {
      flex-direction: column;
    }
    #theatreSelection {
        flex-direction: column;
    }
  }